.red-light{
    margin: 10px 0;
    width: 100px;
    height: 100px;
    background-color: red;
  }
  
  .green-light{
    margin: 10px 0;
    width: 100px;
    height: 100px;
    background-color: green;
  }