/*catalog.css*/


.product-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 4rem;
    margin-bottom: 2rem;
}

.product-card {
    background-color: white;
    border-radius: 8px;
    /*padding: 1rem;*/
    width: 14.67rem;
    box-shadow: 0 2rem 2rem rgba(0,0,0,0.1);
    text-align: center;
}











.product-card img {
    width: 50%;
    max-height: 50%;
}

.price {
    font-weight: bold;
    margin-top: 0.5rem;
}

.buy-btn {
    margin-top: 0.5rem;
    padding: 0.4rem 1rem;
    background-color: black;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

