.page-container{

    background-color: rgb(235, 229, 229);
    margin: -1.5rem;
}



.texto1 {
    display: inline-block;
    width: 61%;
    text-align: center;
    font-size: 1rem;
    margin-right: 4.4rem;
}


.texto2 {

    display: inline-block;
    font-size: 0.5rem;

}



table {
    width: 50%;
    border-collapse: collapse;
    margin:auto
    
}




td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}



th{
    font-size: 0.5rem;
    background-color: rgb(26, 59, 247);
    color:white
}



thead th {
    border-left: none;  
    border-right: none; 
}