.page-container{
width:100%;
height:100%;
display: flex;
justify-content: center; 
align-content: center;
}

.header-class{
    text-align: center;
}



.choose-the-best{

    font-size: 0.95rem;
    margin-top: 0.5rem;
}



.by{
    font-size: 0.5rem;
    margin-top: -1.8rem;
    margin-bottom: 0.5rem;
}



.first-image{

    display: flex;
    justify-content: center;
    margin-top: 0.5rem;

}



.first-paragraph{

    justify-content: center;
    text-align: left;
    font-size: 0.7rem;
    margin-left: 0.8rem;

}


.fifty-text-fifty-image{
    display: flex;
    border-color: blue;
}
.fifty-paragraph{
    
    display: flex;
    font-size: 0.7rem;
    padding-bottom: 0.7rem;
    justify-content: start;
    text-align: left;
    display: inline-block;
    margin-top: -0.5rem;
    margin-left: 1rem;
}

.fifty-image{

    display: flex;
    font-size: 0.7rem;
    padding-bottom: 0.7rem;
    justify-content: end;
    margin-left: 2rem;
    margin-top: 1rem;

}


.bottom-paragraph{
    display: flex;
    text-align: left; 
    justify-content: start;
    font-size: 0.7rem;
    margin-top: -2rem;
    margin-left: 0.8rem;
}